@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: xx-large;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 10px 100px;
    color: #F9FaF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header .headerLogo {
    font-size: 24px;
    font-weight:900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: #F9FaF8;
}

.topBlock {
    background-color: #1F2937;
    display: flex;
    padding: 250px;
    justify-content: space-between;
}

.topBlock .mainText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
}

.topBlock .secondText {
    font-size: 18px;
    color: #E5E7EB;
}
.topBlock .secondText p {
    margin: 5px;
}

.button1 button {
    background-color: #3882f6;
    color: #F9FaF8;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
}