@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: xx-large;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 10px 100px;
    color: #F9FaF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.header .headerLogo {
    font-size: 30px;
    font-weight:900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: #F9FaF8;
}

.topBlock {
    background-color: #1F2937;
    display: flex;
    padding: 250px;
    justify-content: space-evenly;
}

.topBlock .mainText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
}

.topBlock .secondText {
    font-size: 18px;
    color: #E5E7EB;
}
.topBlock .secondText p {
    margin: 5px;
}

.button1 button {
    background-color: #3882f6;
    color: #F9FaF8;
    font-weight: bolder;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
}

.button1 button:hover {
    opacity: 0.8;
}

.topBlock .image {
    display: flex;
    background-color: #F9FaF8;
    height: 200px;
    width: 500px;
}

.infoBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F9FaF8;
    padding: 50px;
    align-items: center;

}

.infoBlock .cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px;

}


.infoBlock .infoCards {
    display: flex;
    flex-direction: column;
}

.infoBlock .text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.infobox {
    display: flex;
    flex-direction: column;
    background-color: #F9FaF8;
    justify-content: space-around;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    border: 4px solid #3882f6;
    
}

.boxtext {
    color: #1f2937;
    padding-top: 10px;
    height: 75px;
    width: 150px;
    font-size: 18px;
    text-align: center;
}

.quoteBlock {
    background-color: #E5E7EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 150px;
}

.quoteBlock .quoteText {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300px;
    width: 800px;

}

.quoteBlock .heading {
    height: 50px;
    width: 700px;
    text-align: end;
    font-weight: bolder;
}

